.container {
  position: relative;
  width: 100%;
  height: 4000px;
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-shrink: 1; */
  width: 100%;
  height: 550px;
  border: solid black;
}

.landing {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;

  background-image: url("../../images/about-img.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.about-landing-p {
  margin-right: 100px;
  position: absolute;
  /* width: 40%; */
  max-width: 700px;
  height: auto;
  left: 100px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  /* or 1.5vw */
  line-height: 31px;
  /* or 180% */
  letter-spacing: 0.3px;

  color: #4e4e4e;
}

.block {
  border: solid black;
  width: 40%;
  height: 400px;
  margin: 10px;

  text-align: center;
}

#center.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

#list.block {
  display: flex;
  flex-direction: column;
}

.skillset-p {
  position: absolute;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #333333;
}

@media only screen and (min-width: 767px) {
  .skillset-p {
    font-size: 37px;
  }
}

@media only screen and (min-width: 1024px) {
  .skillset-p {
    font-size: 45px;
  }
}
