.page-container {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .left-info-box > h3 {
    margin-left: 10vw;
  }
}

@media only screen and (max-width: 767px) {
  .left-info-box > h2 {
    margin-left: 10vw;
  }
}
