.project1 {
  position: absolute;
  width: 1512px;
  left: calc(50% - 1512px / 2);
  top: 19.98%;
  bottom: 60.55%;
}

.project1-images {
  position: absolute;
  left: 153px;
  right: 799px;
  top: 87px;
  bottom: 83px;
}

.p1-image-back {
  position: absolute;
  height: 575px;
  left: 0px;
  right: 197px;
  top: calc(50% - 575px / 2 - 0.5px);
}

.p1-image-front {
  position: absolute;
  height: 287px;
  left: 70px;
  right: 36px;
  top: calc(50% - 287px / 2 + 30.5px);
}

.project1-info {
  position: absolute;
  left: 746px;
  right: 153px;
  top: 85px;
  bottom: 85px;
}

.project1-notes {
  position: absolute;
  height: 19px;
  left: 0px;
  right: 0px;
  top: calc(50% - 19px / 2 - 88.5px);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 19px;
  /* identical to box height, or 190% */
  display: flex;
  align-items: center;
  letter-spacing: 4px;
  text-transform: uppercase;

  color: #0e0e0e;
}

.project1-title {
  position: absolute;
  height: 34px;
  left: 0px;
  right: 0px;
  top: calc(50% - 34px / 2 - 42px);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #333333;
}

.project1-paragraph {
  position: absolute;
  height: 96px;
  left: 0px;
  right: 0px;
  top: calc(50% - 96px / 2 + 50px);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  display: flex;
  align-items: center;

  color: #333333;

  mix-blend-mode: darken;
}
