.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#name {
  margin: 0 10vw;
  color: white;
}

#surname {
  font-weight: 900;
  margin: 0 10vw;
  color: white;
  letter-spacing: 12px;
}

@media only screen and (max-width: 767px) {
  #name {
    font-size: 60px;
  }

  #surname {
    font-size: 60px;
  }
}

.hero-bio {
  width: 60vw;
  margin: 5vw 10vw;
  font-weight: 200;
  letter-spacing: 4px;
  color: white;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .hero-bio {
    width: 80%;
    font-size: 14px;
  }
}

.aboutme-btn {
  width: 130px;
  margin-left: 10vw;
  padding: 15px 30px;
  background-color: white;
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
