.page-container {
  position: relative;
}

/* this section is separate from component as there are different images for each page. Include this styling on each page */
#contact-img {
  color: white;
  background-image: url("../../images/contact-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
