.info-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 300px;
  margin: 7vw 0;
}

@media only screen and (max-width: 767px) {
  .left-info-box > h3 {
    margin-left: 10vw;
  }
}

@media only screen and (max-width: 767px) {
  .left-info-box > h2 {
    margin-left: 10vw;
  }
}

.box-list {
  padding: 0;
}

.box-list > li {
  font-size: 20px;
  font-weight: 100;
  line-height: 40px;
}
