.left-info-section {
  display: flex;
  position: relative;
  padding: 10% 10%;
  height: auto;
}
@media only screen and (max-width: 767px) {
  .left-info-section {
    flex-direction: column-reverse;
  }
}

.left-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .left-info-box {
    width: 100%;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .left-info-box {
    align-items: flex-end;
  }
}

@media only screen and (max-width: 767px) {
  .left-info-box > h3 {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 767px) {
  .left-info-box > h2 {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .left-info-box > p {
    font-size: 14px;
    width: 80%;
    margin: 15px 15px;
  }
}

@media only screen and (max-width: 600px) {
  .left-info-box > p {
    margin: 15px 0;
  }
}

.right-img-box {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  min-height: 310px;
}

@media only screen and (max-width: 767px) {
  .right-img-box {
    width: 100%;
  }
}

.right-img-box .back {
  position: relative;
  width: 25vw;
  height: 40vw;
  min-width: 191px;
  min-height: 306px;
  background-color: rgb(225, 219, 219);
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .right-img-box .back {
    margin-right: 15vw;
  }
}

@media only screen and (max-width: 600px) {
  .right-img-box .back {
    margin-right: 0;
  }
}

.right-img-box .front {
  position: absolute;
  right: 17vw;
  top: 22vw;
  width: 30vw;
  height: 19vw;
  min-width: 230px;
  min-height: 151px;
  background-color: rgb(225, 219, 219);
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .right-img-box .front {
    right: 40vw;
    top: 22vw;
  }
}

@media only screen and (max-width: 600px) {
  .right-img-box .front {
    right: 27%;
    top: 130px;
  }
}
