.project-right-section {
  /* border: solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  padding: 4vw 0 2vw 0;
  margin-top: 10vw;
}
@media only screen and (max-width: 767px) {
  .project-right-section {
    flex-direction: column-reverse;
  }
}

.left-info-box {
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 10vw;
}

@media only screen and (max-width: 767px) {
  .left-info-box {
    margin-left: 0;
  }
}

h3 {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  h3 {
    margin-top: 10%;
  }
}

h2 {
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  h2 {
    margin: 0;
  }
}

/* p {
  font-weight: 400;
  font-size: 16px;
  width: 75%;
  text-align: justify;
} */

@media only screen and (max-width: 767px) {
  p {
    font-weight: 400;
    font-size: 13px;
    width: 100%;
  }
}

.right-img-box {
  /* border: solid red; */
  width: 50%;
  min-height: 310px;
}

.right-img-box .back {
  position: relative;
  width: 25vw;
  height: 40vw;
  min-width: 191px;
  min-height: 306px;
  margin-left: 10vw;
  background-color: rgb(225, 219, 219);
  background-size: cover;
  object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .right-img-box .back {
    margin-left: 0;
  }
}

.right-img-box .front {
  position: absolute;
  left: 56%;
  top: auto;
  bottom: 27%;
  width: 30vw;
  height: 19vw;
  max-height: 400px;
  max-width: 650px;
  background-color: rgb(225, 219, 219);
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .right-img-box .front {
    position: absolute;
    left: 40%;
    top: 20%;
    width: 30vw;
    min-width: 200px;
    height: auto;
    background-color: rgb(225, 219, 219);
    background-size: cover;
  }
}
