.contact-section {
  /* border-top: solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 4vw 0 2vw 0;
  margin: 7vw 0;
}

@media only screen and (max-width: 767px) {
  .contact-section {
    margin-top: 10vw;
  }
}

.contact-section h2 {
  font-size: 30px;
}

.contact-p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  max-width: 400px;
}

.calendar-button {
  /* display: inline-block; */
  margin-top: 50px;
  padding: 15px 30px;
  background-color: var(--gray-color);
  font-size: 11px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: white;
}
