.nav {
  display: flex;
  background-color: var(--gray-color);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
}

.icon {
  font-size: 18px;
  font-weight: 100;
  color: white;
  margin-left: 10vw;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  margin-right: 10vw;
}

ul {
  list-style: none;
}

.nav-list {
  display: flex;
}

.nav-list a {
  font-size: 18px;
  font-weight: 100;
  color: white;
  margin-left: 4vw;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}
