.hero {
  display: flex;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0%;
  bottom: 80.02%;
}

.landing-image {
  position: absolute;
  height: 800px;
  left: 0px;
  right: 0px;
  top: 0px;

  background: #1d1d1d;
  border-radius: 0px;
}

.hero-info {
  position: absolute;
  width: 546px;
  height: 515px;
  left: 161px;
  top: 185px;
}

.hero-name {
  position: absolute;
  width: 435px;
  height: 154px;
  left: 0px;
  top: 56px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 77px;
  /* or 110% */
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #4e4e4e;
}

.hero-bio {
  position: absolute;
  width: 546px;
  height: 92px;
  left: 0px;
  top: 249px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  /* or 180% */
  letter-spacing: 0.3px;

  color: #4e4e4e;
}
