.project1 {
  display: flex;
  justify-content: space-around;
  border: 2px solid;
  position: absolute;
  width: 100%;
  height: 792px;
  left: 0px;
  top: 780px;
  background-color: rgba(216, 194, 194, 0.671);
}

.project1-images {
  position: absolute;
  width: 637px;
  height: 661px;
  left: 86px;
  top: 58px;
  border: 2px solid red;
}

.p1-image-back {
  position: absolute;
  width: 363px;
  height: 575px;
  left: 37px;
  top: 86px;

  background-color: pink;
  /* background: url(.jpg); */
  border-radius: 0px;
}

.p1-image-front {
  position: absolute;
  width: 454px;
  height: 287px;
  left: 145px;
  top: 258px;

  background-color: rgb(201, 189, 191);
  /* background: url(.jpg); */
  border-radius: 0px;
}

.project1-info {
  position: absolute;
  width: 624px;
  height: 400px;
  left: 756px;
  top: 161px;
  border: 2px solid rgb(212, 154, 154);
}

.project1-notes {
  position: absolute;
  width: 210px;
  height: 19px;
  left: 0px;
  top: 104px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 19px;
  /* identical to box height, or 190% */
  letter-spacing: 4px;
  text-transform: uppercase;

  color: #0e0e0e;
}

.project1-title {
  position: absolute;
  width: 321px;
  height: 34px;
  left: 0px;
  top: 143px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #333333;
}

.project1-paragraph {
  position: absolute;
  width: 578px;
  height: 96px;
  left: 0px;
  top: 204px;
  text-align: left;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  color: #333333;
}
