.project-left-section {
  display: flex;
  position: relative;
  padding: 10% 10%;
  height: auto;
}
@media only screen and (max-width: 767px) {
  .project-left-section {
    flex-direction: column;
  }
}

.left-img-box {
  width: 50%;
  min-height: 310px;
}

@media only screen and (max-width: 767px) {
  .left-img-box {
    width: 100%;
  }
}

.left-img-box .back {
  width: 25vw;
  height: 40vw;
  min-width: 191px;
  min-height: 306px;
  background-color: rgb(225, 219, 219);
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .left-img-box .back {
    margin-left: 15vw;
  }
}

@media only screen and (max-width: 600px) {
  .left-img-box .back {
    margin-left: 0;
  }
}

.left-img-box .front {
  position: absolute;
  left: 17vw;
  top: 22vw;
  width: 30vw;
  height: 19vw;
  min-width: 238px;
  min-height: 151px;
  background-color: rgb(225, 219, 219);
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .left-img-box .front {
    left: 40vw;
    top: 22vw;
  }
}

@media only screen and (max-width: 600px) {
  .left-img-box .front {
    left: 27%;
    top: 130px;
  }
}

.right-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .right-info-box {
    width: 100%;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .right-info-box {
    align-items: flex-start;
  }
}

/* delete h3,h2 as its in index.css */
/* h3 {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
} */
/* h2 {
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 2px;
  text-transform: uppercase;
} */
/* p {
  font-weight: 400;
  font-size: 16px;
  width: 75%;
  text-align: justify;
} */

@media only screen and (max-width: 767px) {
  .right-info-box > h3 {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 767px) {
  .right-info-box > h2 {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .right-info-box > p {
    font-weight: 400;
    font-size: 14px;
    width: 80%;
    margin: 15px 15px;
  }
}

@media only screen and (max-width: 600px) {
  .right-info-box > p {
    margin: 15px 0;
  }
}
