.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 130px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #c2c1c1;
}

@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}

.footer-left {
  /* border: solid red; */
  padding-left: 10vw;
}

@media only screen and (max-width: 767px) {
  .footer-left {
    padding-left: 0;
    text-align: center;
  }
}

.footer-right {
  /* border: solid green; */
  text-align: right;
  padding-right: 10vw;
}

@media only screen and (max-width: 767px) {
  .footer-right {
    text-align: center;
    padding-right: 0;
  }
}

.footer-a {
  margin-left: 2vw;
}
