.contact-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 10%;
  margin: 10vw 0;
}

.contact-me-section > h2 {
  max-width: 480px;
}

@media only screen and (max-width: 613px) {
  .contact-me-section > h2 {
    text-align: center;
  }
}

.contact-me-section > p {
  max-width: 375px;
}

.calendar-button {
  margin-top: 50px;
  padding: 15px 30px;
  background-color: var(--gray-color);
  font-size: 11px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: white;
}
