/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
@import url("https://fonts.googleapis.com/css?family=Roboto+Flex:400,700,300,100,950|Noto+Sans:400|Roboto:400,300");

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 1512px;
  height: 4568px;
}
