.right-1img-info-section {
  display: flex;
  position: relative;
  padding: 10% 10%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .right-1img-info-section {
    flex-direction: column;
    margin-top: 5%;
  }
}

.left-1img-box {
  display: flex;
  align-items: center;
  width: 50%;
  min-height: 310px;
}

@media only screen and (max-width: 767px) {
  .left-1img-box {
    justify-content: center;
    width: 100%;
  }
}

.project-img {
  position: relative;

  width: 35vw;
  height: 30vw;
  min-width: 273px;
  min-height: 234px;
  background-color: rgb(225, 219, 219);
  background-size: cover;
}
